#!/usr/bin/rc

# awkfind [awk command] [find arguments]
# awk command only exists if there are more than 2 arguments 

~ $#* 0 && exec find $*

nl=$ifs(3)
awkargs=$1; shift

for (* in $*){
 test -e $* && *=`{ realpath $* }
 args=($args $*)
}

find $args -print0 >[2] /dev/null | \
 xargs -0 busybox stat -c $format >[2] /dev/null | \
 awk $awkmodule^$nl^$awkargs
