#!/usr/bin/rc -e

depends=(awk busybox find rc)

fn check_dependencies {
 echo Checking dependencies
 for (* in $depends) {
  if (! whatis $* > /dev/null >[2=1]){missing=($missing $*)}
 }

 if (! ~ $#missing 0) {
  echo 'Error: You are missing ' $missing^, > /dev/stderr
  echo 'Please install or put it in your PATH'
  exit 1
 }
 echo ' ' OK
}

check_dependencies

# This will build module into 
ifs='' { awkmodule=`{ cat module.awk } }

# separates the fields for stat -c 
#divider	=`{ printf \r } # this could be anything, \a, \b
~ $#divider 0 && divider=''

ifs='' {
 format=`{ awk '
  BEGIN { getline; printf("%s",$0) }
  {printf("%s%s",ENVIRON["divider"],$0)}
  ' formats
 }
}

filename = awkfind

{
 echo '#!'^`{which rc}^$nl$nl

 echo '#( format )#' 
 whatis format 
 {echo;echo;echo} 

 echo '#( awkmodule )#'$nl$nl 
 whatis awkmodule 
 {echo;echo;echo} 

 echo '#( main.rc )#'$nl$nl 
 cat main.rc 
} > $filename
chmod -v +x $filename
